html {
  font-family: monospace;
  font-size: large;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 80%;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > header {
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.content > table {
  align-items: center;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 36em;
  resize: vertical;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.input {
}

.host form {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
}

.host textarea {
  min-width: 36em;
  resize: horizontal;
}

.host {
  padding: 0 1rem 1rem;
}

.submit {
	width: 100%;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	font-size: 180%;
}

.Up {
  background-color: #2fcc2e;
  color: #000000;
}

.Down {
  background-color: #cc2f2e;
  color: #ffffff;
}
